@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;500;700&display=swap");

:root {
  --primary: #03a84e;
  --grey-primary: #0f241b;
  --grey-secondary: #1d352a;
  --grey-septenary: #f0f4f2;
  --grey-tertiary: #4b6358;
  --grey-quaternary: #8aa398;
  --grey-senary: #e2e9e6;
  --grey-quinary: #cbd8d2;
  --grey-octonary: #f9fbfa;
  --green-quaternary: #98dcaf;
  --green-tertiary: #6ece8a;
  --green-octonary: #f6fffa;
  --green-septenary: #e9fbf2;
  --orange-primary: #ff9d00;
  --orange-tertiary: #ffc260;
  --orange-octonary: #fffbf5;
  --orange-septenary: #fff3df;
  --purple-septenary: #e5e9fc;
  --pink-septenary: #fbe7f2;
  --yellow-quinary: #ffebb2;
  --yellow-octonary: #fffdf5;
  --white: #ffffff;
  --black: #000000;
  --Serif: "PT Serif", san-serif;
  --Sans: "PT Sans", san-serif;
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.gap-4 {
  gap: 1rem /* 16px */;
}
.gap-04 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-1 {
  gap: 0.7rem;
}
.gap-2 {
  gap: 0.85rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2.5rem;
}
.gap-08 {
  gap: 3.2rem;
}
.gap-9 {
  gap: 4.5rem;
}
.gap-12 {
  gap: 5.5rem;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.c-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.z-5 {
  z-index: 5;
}
.hidden{
  display: none;
}
.text-md {
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.text-sxm {
  font-family: var(--Sans);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.text-sm {
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.text-primary {
  color: var(--primary);
}
.text-tertiary {
  color: var(--grey-tertiary);
}
.text-grey-primary {
  color: var(--grey-primary);
}
.text-secondary {
  color: var(--grey-secondary);
}
.text-orange-primary {
  color: var(--orange-primary);
}
.text-grey-quaternary {
  color: var(--grey-quaternary);
}
.text-black {
  color: var(--black);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.w-full {
  width: 100%;
}
.h1 {
  color: var(--grey-primary);
  font-family: var(--Serif);
  font-size: 1.25rem;
  font-weight: var(--font-700);
  line-height: 2rem;
  margin: 0;
}
.h4 {
  color: var(--grey-primary);
  font-family: var(--Serif);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--font-700);
  line-height: 1.75rem;
  margin: 0;
}
.h5 {
  text-align: center;
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: var(--font-400);
  line-height: 1.5rem;
  margin: 0;
}
.pb-1 {
  padding-bottom: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.8rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pl-2 {
  padding-left: 0.8rem;
}
.pl-4 {
  padding-left: 1rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-02 {
  margin-bottom: 0.75rem;
}
.mb-2 {
  margin-bottom: 0.8rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-05 {
  margin-top: 0.3rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 0.8rem;
}
.mt-4 {
  margin-top: 1rem;
}
.fw-400 {
  font-weight: var(--font-400);
}
.fw-700 {
  font-weight: var(--font-700);
}
.underline {
  text-decoration: underline;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 2rem;
  text-align: center;
  font-family: var(--Sans);
  font-weight: var(--font-400);
  text-decoration: none;
}
.btn-lg {
  height: 3rem;
  padding: 0.75rem 1rem;
}
.btn-lg-fixed {
  width: 20.4375rem;
}
.btn-primary {
  background: var(--primary);
  color: var(--white);
}
.btn-outlined {
  border: 1px solid var(--grey-senary);
  background: var(--white);
  display: inline-flex;
  height: 2rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
@media (max-width: 428px) {
  .btn-lg {
    width: 100%;
  }
}

/* Confetti */
.confetti-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.btn-wrapper-confetti {
  margin-top: 100px;
}
.emoji {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

/* Services */
.services,
.plan {
  padding: 1rem 0 5rem 0;
  overflow: hidden;
}
.services-wrapper,
.plan-wrapper {
  padding: 1rem;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 2.5rem;
  padding: 0.25rem 3.0625rem 0.25rem 0.25rem;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--grey-septenary);
}
.tab {
  text-align: center;
  color: var(--grey-tertiary);
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
}
.tab.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  color: var(--grey-primary);
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(63, 80, 73, 0.04);
}
.call-card {
  border-radius: 0.5rem;
  background: var(--primary);
  border: 4px solid var(--green-quaternary);
  height: 6.625rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}
.title {
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: var(--font-500);
  line-height: 1.5rem;
}
.call-content {
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: var(--font-400);
  line-height: 1.25rem;
}
@media (max-width: 555px) {
  .call-content {
    width: 16.5625rem;
  }
}
.call-dish {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  background: url(/assets/images/dish-1.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -32px;
  right: -19px;
}
.service {
  border-radius: 0.5rem;
  padding: 1rem;
}
.service-primary {
  border: 1px solid var(--green-tertiary);
  background: var(--green-octonary);
}
.service-orange {
  border: 1px solid var(--orange-tertiary);
  background: var(--orange-octonary);
}
.mini- {
  width: 1.25rem;
  height: 1.25rem;
}
.status {
  display: inline-flex;
  height: 1.5rem;
  padding: 0.375rem;
  align-items: center;
  gap: 0.125rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
}
.status-primary {
  background: var(--green-septenary);
}
.status-orange {
  background: var(--orange-septenary);
}
.food {
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.hr {
  width: 100%;
  height: 0.0625rem;
  margin: 0;
}
.hr-primary {
  border: 1px solid rgba(189, 238, 205, 0.5);
}
.hr-orange {
  border: 1px solid rgba(255, 218, 159, 0.5);
}
.hr-quinary {
  border: 0.5px solid var(--grey-quinary);
}
.hr-dotted {
  border: 0.5px dashed var(--grey-quinary);
}
.time-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.main {
  margin: auto;
  max-width: 640px;
}
/* @media (min-width: 768px) {
  .main {
    max-width: 640px;
    margin: auto;
  }
} */

/* Navigation */
.nav {
  background: var(--white);
  box-shadow: 0px 1px 0px 0px #f1f4f2 inset;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.nav-icon {
  width: 1.125rem;
  height: 1.125rem;
}
@media (min-width: 768px) {
  .nav > div {
    max-width: 640px;
    margin: auto;
  }
}

/* Plan */
.back-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.progress-icon {
  width: 1.77775rem;
  height: 1.77775rem;
}
.progress-bar {
  height: 0.1875rem;
  width: 94%;
  border-radius: 1.5rem;
  background: var(--grey-senary);
  overflow: hidden;
  top: 12px;
  z-index: 1;
  margin: 0 1rem 0;
}
.progress {
  z-index: 9;
  width: 60%;
  background: var(--primary);
  border-radius: 1.5rem;
  height: 100%;
  transition: width 0.3s ease-in-out;
}
.plan-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan-card {
  padding: 1.5rem 1.1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan-card-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.plan-card-primary {
  background: var(--green-septenary);
}
.plan-card-purple {
  background: var(--purple-septenary);
}
.plan-card-pink {
  background: var(--pink-septenary);
}
.plan-card-orange {
  background: var(--orange-septenary);
}
.info-card {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 0.5rem;
}
.info-yellow {
  border: 1px solid var(--yellow-quinary);
  background: var(--yellow-octonary);
}
.info-quinary {
  border: 1px solid var(--grey-quinary);
  background: var(--grey-octonary);
}
.alert-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}
.form-control {
  border: 0;
  border-bottom: 0.0625rem solid var(--primary);
}
input:focus {
  border: 0;
  border-bottom: 0.0625rem solid var(--primary);
  outline: 0;
  box-shadow: none;
}
@media (min-width: 768px) {
  .form-control {
    width: 12.8125rem;
  }
}

/* Modal */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(15, 36, 27, 0.2);
  backdrop-filter: blur(1px);
  /* transition: transform 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946); */
}
.modal-wrapper {
  border-radius: 1rem;
  background: var(--white);
  padding: 1.2rem 1rem;
  max-width: 22.1875rem;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mw-1 {
  height: 35.625rem;
  overflow-y: auto;
  scrollbar-width: 4px;
}
.mw-2 {
  height: 41rem;
  overflow-y: auto;
  scrollbar-width: 4px;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  animation: show 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
.hide-modal {
  opacity: 0;
  visibility: hidden;
  animation: hide 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
  }
}
@media (max-width: 768px) {
  .modal-wrapper {
    width: 95%;
  }
  .mw-2 {
    height: 85%;
  }
  .mw-1 {
    height: 70%;
  }
}
.close-icon {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
}
.food-phic,
.house-phic {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.delivery-card {
  display: inline-flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  border-radius: 0.5rem;
  border: 1px dashed var(--grey-quinary);
  background: #fff;
}
.delivery-progress-dot-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.delivery-progress-tick-icon {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
}
.delivery-line {
  width: 0.0625rem;
  border: 0.5px dashed var(--primary);
  border-radius: 1.5rem;
  transition: width 0.3s ease-in-out;
}
.d-0 {
  top: 15px;
  height: 5rem;
}
.d-1,
.d-2,
.d-3 {
  height: 3.25rem;
}
.d-1 {
  top: 28px;
}
.d-2 {
  top: 106px;
}
.d-3 {
  top: 185px;
}
.close {
  border: 0;
  background: transparent;
  cursor: pointer;
}
