@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;500;700&display=swap");

:root {
  --primary: #03a84e;
  --grey-primary: #0f241b;
  --grey-secondary: #1d352a;
  --grey-septenary: #f0f4f2;
  --grey-tertiary: #4b6358;
  --grey-quaternary: #8aa398;
  --green-quaternary: #98dcaf;
  --green-tertiary: #6ece8a;
  --green-octonary: #f6fffa;
  --green-septenary: #e9fbf2;
  --orange-primary: #ff9d00;
  --orange-tertiary: #ffc260;
  --orange-octonary: #fffbf5;
  --orange-septenary: #fff3df;
  --white: #ffffff;
  --black: #000000;
  --Serif: "PT Serif", san-serif;
  --Sans: "PT Sans", san-serif;
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.gap-4 {
  gap: 1rem /* 16px */;
}
.gap-04 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-1 {
  gap: 0.7rem /* 16px */;
}
.gap-05 {
  gap: 0.5rem;
}
.c-pointer {
  cursor: pointer;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.confetti-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.emoji {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
}
.text-md {
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.text-sxm {
  font-family: var(--Sans);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.text-sm {
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.text-primary {
  color: var(--primary);
}
.text-tertiary {
  color: var(--grey-tertiary);
}
.text-grey-primary {
  color: var(--grey-primary);
}
.text-secondary {
  color: var(--grey-secondary);
}
.text-orange-primary {
  color: var(--orange-primary);
}
.text-grey-quaternary {
  color: var(--grey-quaternary);
}
.text-black {
  color: var(--black);
}
.h1 {
  color: var(--grey-primary);
  text-align: center;
  font-family: var(--Serif);
  font-size: 1.25rem;
  font-weight: var(--font-700);
  line-height: 2rem;
  margin: 0;
}
.h4 {
  color: var(--grey-primary);
  font-family: var(--Serif);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--font-700);
  line-height: 1.75rem;
  margin: 0;
}
.h5 {
  color: var(--grey-secondary);
  text-align: center;
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: var(--font-400);
  line-height: 1.5rem;
  margin: 0;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.btn {
  width: 20.4375rem;
  height: 3rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 2rem;
  background: var(--primary);
  color: var(--white);
  text-align: center;
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: var(--font-400);
  text-decoration: none;
}
@media (max-width: 428px) {
  .btn {
    width: 100%;
  }
}

/* Services */
.services {
  padding: 1rem 0 5rem 0;
}
.services-wrapper {
  padding: 1rem;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 2.5rem;
  padding: 0.25rem 3.0625rem 0.25rem 0.25rem;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--grey-septenary);
}
.tab {
  text-align: center;
  color: var(--grey-tertiary);
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
}
.tab.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  color: var(--grey-primary);
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(63, 80, 73, 0.04);
}
.call-card {
  border-radius: 0.5rem;
  background: var(--primary);
  border: 4px solid var(--green-quaternary);
  height: 6.625rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}
.title {
  font-family: var(--Sans);
  font-size: 1rem;
  font-weight: var(--font-500);
  line-height: 1.5rem;
}
.call-content {
  font-family: var(--Sans);
  font-size: 0.875rem;
  font-weight: var(--font-400);
  line-height: 1.25rem;
}
@media (max-width: 555px) {
  .call-content {
    width: 16.5625rem;
  }
}
.call-dish {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  background: url(/assets/images/dish-1.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -32px;
  right: -19px;
}
.service {
  border-radius: 0.5rem;
  padding: 1rem;
}
.service-primary {
  border: 1px solid var(--green-tertiary);
  background: var(--green-octonary);
}
.service-orange {
  border: 1px solid var(--orange-tertiary);
  background: var(--orange-octonary);
}
.mini- {
  width: 1.25rem;
  height: 1.25rem;
}
.status {
  display: inline-flex;
  height: 1.5rem;
  padding: 0.375rem;
  align-items: center;
  gap: 0.125rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
}
.status-primary {
  background: var(--green-septenary);
}
.status-orange {
  background: var(--orange-septenary);
}
.food {
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.hr {
  width: 100%;
  height: 0.0625rem;
  margin: 0;
}
.hr-primary {
  border: 1px solid rgba(189, 238, 205, 0.5);
}
.hr-orange {
  border: 1px solid rgba(255, 218, 159, 0.5);
}
.time-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .main {
    max-width: 640px;
    margin: auto;
  }
}

/* Navigation */
.nav {
  background: var(--white);
  box-shadow: 0px 1px 0px 0px #f1f4f2 inset;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav-icon {
  width: 1.125rem;
  height: 1.125rem;
}
@media (min-width: 768px) {
  .nav > div {
    max-width: 640px;
    margin: auto;
  }
}
